{% extends 'base.html' %}

{% block content %}
<section style="max-width: 400px; margin: 100px auto; text-align: center;">
    <h1>Login</h1>
    <p>Restricted Access</p>

    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form method="POST" style="margin-top: 30px;">
        <input type="password" name="password" placeholder="Enter Password"
            style="padding: 10px; width: 100%; margin-bottom: 20px; font-size: 1rem;">
        <br>
        <button type="submit" class="btn" style="width: 100%;">Enter</button>
    </form>
</section>
{% endblock %}